@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #1e252b;
}

.container {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER STYLE STARTED */

.site__header {
  padding: 26px 0;
}

.header__section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__section-logo {
  width: 140px;
  height: 38px;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  width: 431px;
}

.header__nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff8c;
}

.down-icon {
  display: flex;
  align-items: center;
}

.down-icon i {
  font-size: 22px;
}

.header__section-btn a {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.header__btn-login {
  margin-right: 41px;
  color: #ffffff8c;
}

.header__btn-signup {
  padding: 12px 28px;
  background-color: #ff6e30;
  border-radius: 8px;
  color: #fdf5ff;
}

/* HEADER STYLE FINISHED */

/* HERO STYLE STARTED */

.hero__section {
  background-image: url(/images/hero-bg.png);
  background-size: 589px 892px;
  background-repeat: no-repeat;
  background-position: calc(50% + 425px) calc(50% + 185px);
  padding-top: 90px;
  margin-bottom: 200px;
}

.hero__section-title {
  width: 600px;
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  color: #ffffffe5;
  margin-bottom: 30px;
}

.hero__title-point {
  color: #ff6e30;
}

.hero__section-desc {
  width: 487px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff8c;
  margin-bottom: 60px;
}

.hero__section-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 487px;
  height: 64px;
  padding-left: 21px;
}

.hero__section-search {
  border: 1px solid #ffffff1a;
  border-radius: 15px;
  margin-bottom: 127px;
  background-color: #ffffff1a;
}

.hero__search-img {
  margin-right: 13px;
  width: 24px;
  height: 24px;
}

.hero__search-input {
  width: 280px;
  height: 21px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff61;
}

.hero__search-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff61;
}

.hero__search-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  background-color: #ff6e30;
  padding: 12px 36.12px;
  border-radius: 8px;
}

.hero__section-icons {
  display: flex;
  justify-content: space-between;
  width: 190px;
}

.hero__icon-link {
  border-radius: 8px;
  transition: all 0.1s ease;
}

.hero__section-icons i {
  display: flex;
  justify-content: center;
  width: 58px;
  height: 58px;
  font-size: 29px;
  color: #ffffffc7;
  align-items: center;
}

.hero__icon-link:hover {
  box-shadow: 0px 5px 10px -3px #12121226;
  background-color: #283036;
}

/* HERO STYLE FINISHED */

/* TOOLS STYLE STARTED */

.tools__section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

.tools__section-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 62px;
  color: #ffffffe5;
  margin-bottom: 25px;
}

.tools__section-desc {
  width: 427px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #ffffff8c;
  margin-bottom: 110px;
}

.tools__section-box {
  display: flex;
  flex-wrap: wrap;
}

.tools__box-card {
  padding: 33px;
  border-radius: 15px;
  transition: transform 0.5s ease;
  margin-bottom: 100px;
}

.yellow:hover {
  background-image: url(/images/yellow.svg);
  background-repeat: no-repeat;
}

.tools__box-card:hover {
  background: url(/images/yellow.svg),
    linear-gradient(
      118.49deg,
      rgba(255, 255, 255, 0.08) -2.11%,
      rgba(255, 255, 255, 0) 28.55%,
      rgba(255, 255, 255, 0.05) 44.69%,
      rgba(255, 255, 255, 0) 96.78%
    );
  background-repeat: no-repeat;
  background-position: top right;
  border: 1px solid #ffffff14;
  transform: translateY(-20px);
  padding: 32px;
}

.tools__card-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;
}

.tools__box-card:nth-child(1) {
  margin-right: 23px;
  margin-bottom: 100px;
}

.tools__box-card:nth-child(2) {
  margin-right: 23px;
  margin-bottom: 100px;
}

.tools__box-card:nth-child(3) {
  margin-bottom: 100px;
}

.tools__box-card:nth-child(4) {
  margin-right: 23px;
}

.tools__box-card:nth-child(5) {
  margin-right: 23px;
}

.figma::before {
  content: "";
  position: absolute;
  display: block;
  width: 43px;
  height: 64px;
  background-image: url(/images/figma.svg);
  background-repeat: no-repeat;
}

.sketch::before {
  content: "";
  position: absolute;
  display: block;
  width: 64px;
  height: 57px;
  background-image: url(/images/diamond.svg);
  background-repeat: no-repeat;
}

.vs::before {
  content: "";
  position: absolute;
  display: block;
  width: 65px;
  height: 63px;
  background-image: url(/images/vs.svg);
  background-repeat: no-repeat;
}

.notion::before {
  content: "";
  position: absolute;
  display: block;
  width: 64px;
  height: 64px;
  background-image: url(/images/notion.svg);
  background-repeat: no-repeat;
}

.slack::before {
  content: "";
  position: absolute;
  display: block;
  width: 64px;
  height: 64px;
  background-image: url(/images/slack.svg);
  background-repeat: no-repeat;
}

.invision::before {
  content: "";
  position: absolute;
  display: block;
  width: 64px;
  height: 64px;
  background-image: url(/images/invision.svg);
  background-repeat: no-repeat;
}

.tools__top-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #ffffffc7;
  margin-left: 83px;
}

.tools__top-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #ffa5378c;
  margin-left: 83px;
}

.tools__top-desc {
  width: 326px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff8c;
  margin-bottom: 42px;
}

.tools__card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tools__bottom-start i {
  font-size: 25px;
  color: #ffffff61;
  margin-right: 12px;
  padding: 9px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.1s ease;
}

.tools__bottom-start i:hover {
  background-color: #283036;
  box-shadow: 0px 5px 10px -3px #12121226;
}

.tools__bottom-start i:active {
  color: #fd3b41;
}

.tools__card-file {
  width: 25px;
  height: 21.25px;
  cursor: pointer;
}

.tools__card-file:hover {
  background-color: #283036;
}

.tools__bottom-btn:hover {
  transition: all 0.2s ease;
}

.tools__bottom-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff8c;
  border-radius: 8px;
  padding: 9px 35px;
}

.tools__bottom-btn:hover {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  background-color: #ff6e30;
}

.tools__section-btn {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding: 17px 38px;
  color: #ff6e30;
  border: 1px solid #ffffff1a;
  border-radius: 8px;
  transition: all 0.1s ease;
}

.tools__section-btn:hover {
  color: #ffffffe5;
  background-color: #ff6e30;
  padding: 17px 38px;
}

/* TOOLS STYLE FINISHED */

/* BRANDS STYLE STARTED */

.brands__section-wrapper {
  position: relative;
  padding: 55.5px 82.5px;
  margin-bottom: 220px;
  overflow: hidden;
  background: linear-gradient(
      0deg,
      rgba(44, 53, 61, 0.2),
      rgba(44, 53, 61, 0.2)
    ),
    linear-gradient(
      92.39deg,
      rgba(255, 255, 255, 0.05) -4.6%,
      rgba(255, 255, 255, 0) 96.79%
    );
  background-repeat: no-repeat;
  border-radius: 25px;
}

.red-bg {
  position: absolute;
  top: -18%;
  left: -17%;
}

.brands__section-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #ffffffcc;
  text-align: center;
  margin-bottom: 57px;
}

.brands__section-box {
  display: flex;
  justify-content: space-between;
}

/* BRANDS STYLE FINISHED */

/* NEWSCOMERS STYLE STARTED */

.newcomers__section-wrapper {
  display: flex;
  justify-content: space-between;
}

.newcomers__section-start {
  margin-right: 197px;
}

.newcomers__section-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 62px;
  color: #ffffffe5;
  margin-bottom: 30px;
}

.newcomers__section-desc {
  width: 427px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff8c;
  margin-bottom: 60px;
}

.newcomers__section-btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding: 16px 40px;
  color: #ffffff;
  background-color: #ff6e30;
  border-radius: 8px;
}

.newcomers__section-end {
  display: flex;
  flex-wrap: wrap;
}

.newcomers__end-card {
  padding: 28px 21.5px;
  border-radius: 15px;
  transition: transform 0.4s ease;
}

.newcomers__end-card:hover {
  background: url(/images/yellow.svg),
    linear-gradient(0deg, rgba(40, 48, 54, 0.6), rgba(40, 48, 54, 0.6)),
    linear-gradient(
      118.49deg,
      rgba(255, 255, 255, 0.08) -2.11%,
      rgba(255, 255, 255, 0) 28.55%,
      rgba(255, 255, 255, 0.05) 44.69%,
      rgba(255, 255, 255, 0) 96.78%
    );
  background-repeat: no-repeat;
  background-position: top right;
  transform: translateY(-20px);
  border: 2px solid #ffffff14;
  padding: 26px 19.5px;
}

.toolbox {
  margin-right: 23px;
}

.newcomers__card-top {
  margin-bottom: 30px;
}

.zeplin {
  margin-right: 23px;

  margin-bottom: 50px;
}

.zeplin::before {
  position: absolute;
  content: "";
  width: 64px;
  height: 64px;
  background-image: url(/images/zeplin.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.php {
  margin-bottom: 50px;
}

.php::before {
  position: absolute;
  content: "";
  width: 64px;
  height: 64px;
  background-image: url(/images/php.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.toolbox::before {
  position: absolute;
  content: "";
  width: 64px;
  height: 64px;
  background-image: url(/images/toolbox.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.procreate::before {
  position: absolute;
  content: "";
  width: 64px;
  height: 64px;
  background-image: url(/images/procreate.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.newcomers__top-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #ffffffc7;
  margin-left: 90px;
}

.newcomers__top-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #ffa5378c;
  margin-left: 90px;
}

.newcomers__card-desc {
  width: 245px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff8c;
  margin-bottom: 30px;
}

.newcomers__card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newcomers__bottom-start i {
  font-size: 25px;
  color: #ffffff61;
  margin-right: 12px;
  padding: 9px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.1s ease;
}

.newcomers__bottom-start i:hover {
  background-color: #283036;
  box-shadow: 0px 5px 10px -3px #12121226;
}

.newcomers__bottom-start i:active {
  color: #fd3b41;
}

.newcomers__card-file {
  width: 25px;
  height: 21.25px;
}

.newcomers__bottom-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 8px;
  padding: 9px 35px;
  color: #ffffff8c;
  transition: all 0.15s ease;
}

.newcomers__bottom-btn:hover {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  background-color: #ff6e30;
}

/* NEWSCOMERS STYLE FINISHED */

/* SLIDE STYLE STARTED */

.slide__section {
  padding-top: 240px;
  padding-bottom: 250px;
}

.slide__section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide__section-content {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.slide__section-content::before {
  content: "<";
  color: #ffffff47;
  font-size: 50px;
  cursor: pointer;
  margin-right: 142px;
}

.slide__section-content::after {
  content: ">";
  color: #ffffff47;
  font-size: 50px;
  color: #ff6e30;
  cursor: pointer;
  margin-left: 142px;
}

.slide__section-avatar {
  margin-right: 70px;
}

.slide__start-text {
  position: absolute;
  top: 10%;
  background-image: url(/images/slide-text-bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-top: 330px;
  margin-left: 150px;
  padding: 13px 22.5px;
  border-radius: 8px;
}

.slide__start-name {
  font-size: 26px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0.015em;
  color: #fffdfdc7;
}

.slide__start-profession {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fffdfd8c;
}

.slide__end-desc {
  width: 450px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.015em;
  color: #ffffffc7;
}

.slide__section-pagination {
  width: 44px;
  height: 6px;
  margin-right: 100px;
  border-radius: 4px;
  background-color: #283036;
  box-shadow: 62px 1px 0px 2px #ff6e30, 124px 1px 0px #283036;
}

/* SLIDE STYLE FINISHED */

/* EMAIL STYLE STARTED */

.email__section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.email__section-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 62px;
  color: #ffffffe5;
  margin-bottom: 25px;
}

.email__section-desc {
  width: 427px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff8c;
  text-align: center;
  margin-bottom: 100px;
}

.email__section-box {
  display: flex;
  align-items: center;
  width: 549px;
  height: 64px;
  background-color: #ffffff1a;
  padding-left: 24px;
  border-radius: 15px;
}

.email__box-input {
  width: 380px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff61;
  background: transparent;
  border: none;
  outline: none;
  padding-right: 24px;
}

.email__box-input::placeholder{
font-size: 14px;
font-weight: 400;
line-height: 21px;
color: #FFFFFF61;
}

.email__box-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #FF6E30;
  padding: 12px 36px;
  border-radius: 8px;
}

/* EMAIL STYLE FINISHED */

/* FOOTER STYLE STARTED */
/* FOOTER STYLE FINISHED */
